In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
sample_order_prior_user_product = pd.read_csv("instacart/sample_order_prior_user_product.csv")
sample_order_prior_user_product

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,department_id,aisle_id
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,19.0,117.0
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,7.0,94.0
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,13.0,88.0
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,19.0,117.0
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,17.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,4.0,32.0
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,18.0,82.0
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,16.0,91.0
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,16.0,53.0
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,16.0,120.0

In [3]:
sample_order_prior_user_product['times_reordered'] = sample_order_prior_user_product['num_prod_bought']-1

In [4]:
sample_order_prior_user_department = pd.read_csv("instacart/sample_order_prior_user_department.csv")
sample_order_prior_user_aisle = pd.read_csv("instacart/sample_order_prior_user_aisle.csv")

In [5]:
sample_order_prior_user_department

        user_id  department_id  num_prod_bought_dep  num_order_bought_dep
0             3            1.0                    6                     5
1             3            4.0                   38                    12
2             3            7.0                    3                     3
3             3            9.0                    4                     4
4             3           13.0                    4                     4
...         ...            ...                  ...                   ...
541773   206205           12.0                    1                     1
541774   206205           16.0                   14                     3
541775   206205           18.0                    1                     1
541776   206205           20.0                    3                     1
541777   206205           21.0                    1                     1

[541778 rows x 4 columns]

In [6]:
sample_order_prior_user_aisle

         user_id  aisle_id  num_prod_bought_ais  num_order_bought_ais
0              3       4.0                    4                     4
1              3      13.0                    2                     2
2              3      21.0                    5                     4
3              3      24.0                   19                    12
4              3      37.0                    4                     4
...          ...       ...                  ...                   ...
1390420   206205      98.0                    1                     1
1390421   206205     100.0                    1                     1
1390422   206205     112.0                    2                     2
1390423   206205     116.0                    1                     1
1390424   206205     120.0                    5                     2

[1390425 rows x 4 columns]

# Ratio of product/order bought correspond to department/aisle

## Merge product, department, aisle

In [7]:
sample_order_prior_user_product = sample_order_prior_user_product.merge(sample_order_prior_user_department, how='left', on=['user_id', 'department_id'])
sample_order_prior_user_product = sample_order_prior_user_product.merge(sample_order_prior_user_aisle, how='left', on=['user_id', 'aisle_id'])
sample_order_prior_user_product

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,department_id,aisle_id,times_reordered,num_prod_bought_dep,num_order_bought_dep,num_prod_bought_ais,num_order_bought_ais
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,19.0,117.0,0,9,7,3,3
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,7.0,94.0,0,3,3,1,1
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,13.0,88.0,2,4,4,4,4
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,19.0,117.0,0,9,7,3,3
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,17.0,54.0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,4.0,32.0,1,7,2,2,2
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,18.0,82.0,0,1,1,1,1
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,16.0,91.0,0,14,3,1,1
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,16.0,53.0,0,14,3,2,2
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,16.0,120.0,0,14,3,5,2

## Calculate ratio

In [8]:
sample_order_prior_user_product['ratio_prod_bought_dep'] = sample_order_prior_user_product['num_prod_bought']/sample_order_prior_user_product['num_prod_bought_dep']
sample_order_prior_user_product['ratio_prod_bought_ais'] = sample_order_prior_user_product['num_prod_bought']/sample_order_prior_user_product['num_prod_bought_ais']
sample_order_prior_user_product['ratio_order_bought_dep'] = sample_order_prior_user_product['num_prod_bought']/sample_order_prior_user_product['num_order_bought_dep']
sample_order_prior_user_product['ratio_order_bought_ais'] = sample_order_prior_user_product['num_prod_bought']/sample_order_prior_user_product['num_order_bought_ais']

In [9]:
sample_order_prior_user_product

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,aisle_id,times_reordered,num_prod_bought_dep,num_order_bought_dep,num_prod_bought_ais,num_order_bought_ais,ratio_prod_bought_dep,ratio_prod_bought_ais,ratio_order_bought_dep,ratio_order_bought_ais
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,117.0,0,9,7,3,3,0.111111,0.333333,0.142857,0.333333
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,94.0,0,3,3,1,1,0.333333,1.000000,0.333333,1.000000
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,88.0,2,4,4,4,4,0.750000,0.750000,0.750000,0.750000
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,117.0,0,9,7,3,3,0.111111,0.333333,0.142857,0.333333
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,54.0,0,1,1,1,1,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,32.0,1,7,2,2,2,0.285714,1.000000,1.000000,1.000000
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,82.0,0,1,1,1,1,1.000000,1.000000,1.000000,1.000000
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,91.0,0,14,3,1,1,0.071429,1.000000,0.333333,1.000000
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,53.0,0,14,3,2,2,0.071429,0.500000,0.333333,0.500000
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,120.0,0,14,3,5,2,0.071429,0.200000,0.333333,0.500000

# Number of product bought

## Total reordered products

In [11]:
reordered_user_product = sample_order_prior_user_product[sample_order_prior_user_product['num_prod_bought']>1]
reordered_user_product = reordered_user_product.groupby('user_id').agg(
    num_dist_prod_reordered=('product_id', 'count'),
    num_total_prod_reordered=('times_reordered', 'sum')
)
reordered_user_product.reset_index(inplace=True)
reordered_user_product

       user_id  num_dist_prod_reordered  num_total_prod_reordered
0            3                       19                        55
1            5                        8                        14
2           13                       13                        52
3           25                        2                         2
4           29                       34                       158
...        ...                      ...                       ...
49274   206189                        9                        19
49275   206191                       18                        29
49276   206195                       14                        29
49277   206202                       36                       124
49278   206205                        7                         8

[49279 rows x 3 columns]

## Total products bought

In [13]:
num_prod_bought = sample_order_prior_user_product.groupby('user_id').agg(
    num_distinct_prod_user_total=('product_id', 'count'),
    num_prod_user_total=('num_prod_bought', sum)
).reset_index()
num_prod_bought

       user_id  num_distinct_prod_user_total  num_prod_user_total
0            3                            33                   88
1            5                            23                   37
2           13                            29                   81
3           25                            19                   21
4           29                            67                  225
...        ...                           ...                  ...
49995   206189                            21                   40
49996   206191                            53                   82
49997   206195                            38                   67
49998   206202                            74                  198
49999   206205                            24                   32

[50000 rows x 3 columns]

## Merge

In [14]:
sample_order_prior_user_product = sample_order_prior_user_product.merge(reordered_user_product, how='left', on=['user_id'])
sample_order_prior_user_product = sample_order_prior_user_product.merge(num_prod_bought, how='left', on=['user_id'])
sample_order_prior_user_product

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_prod_bought_ais,num_order_bought_ais,ratio_prod_bought_dep,ratio_prod_bought_ais,ratio_order_bought_dep,ratio_order_bought_ais,num_dist_prod_reordered,num_total_prod_reordered,num_distinct_prod_user_total,num_prod_user_total
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,3,3,0.111111,0.333333,0.142857,0.333333,19.0,55.0,33,88
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,1,1,0.333333,1.000000,0.333333,1.000000,19.0,55.0,33,88
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,4,4,0.750000,0.750000,0.750000,0.750000,19.0,55.0,33,88
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,3,3,0.111111,0.333333,0.142857,0.333333,19.0,55.0,33,88
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,1,1,1.000000,1.000000,1.000000,1.000000,19.0,55.0,33,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,2,2,0.285714,1.000000,1.000000,1.000000,7.0,8.0,24,32
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,1,1,1.000000,1.000000,1.000000,1.000000,7.0,8.0,24,32
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,1,1,0.071429,1.000000,0.333333,1.000000,7.0,8.0,24,32
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,2,2,0.071429,0.500000,0.333333,0.500000,7.0,8.0,24,32
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,5,2,0.071429,0.200000,0.333333,0.500000,7.0,8.0,24,32

In [15]:
sample_order_prior_user_product['ratio_dist_prod_reordered'] = sample_order_prior_user_product['num_dist_prod_reordered']/sample_order_prior_user_product['num_distinct_prod_user_total']
sample_order_prior_user_product

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_order_bought_ais,ratio_prod_bought_dep,ratio_prod_bought_ais,ratio_order_bought_dep,ratio_order_bought_ais,num_dist_prod_reordered,num_total_prod_reordered,num_distinct_prod_user_total,num_prod_user_total,ratio_dist_prod_reordered
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,3,0.111111,0.333333,0.142857,0.333333,19.0,55.0,33,88,0.575758
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,1,0.333333,1.000000,0.333333,1.000000,19.0,55.0,33,88,0.575758
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,4,0.750000,0.750000,0.750000,0.750000,19.0,55.0,33,88,0.575758
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,3,0.111111,0.333333,0.142857,0.333333,19.0,55.0,33,88,0.575758
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,1,1.000000,1.000000,1.000000,1.000000,19.0,55.0,33,88,0.575758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,2,0.285714,1.000000,1.000000,1.000000,7.0,8.0,24,32,0.291667
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,1,1.000000,1.000000,1.000000,1.000000,7.0,8.0,24,32,0.291667
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,1,0.071429,1.000000,0.333333,1.000000,7.0,8.0,24,32,0.291667
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,2,0.071429,0.500000,0.333333,0.500000,7.0,8.0,24,32,0.291667
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,2,0.071429,0.200000,0.333333,0.500000,7.0,8.0,24,32,0.291667

# Combine with user features

In [16]:
sample_order_prior_user = pd.read_csv("instacart/sample_order_prior_user.csv")
sample_order_prior_user.rename(columns={'days_cumsum_last':'days_cumsum_user'}, inplace=True)
sample_order_prior_user

,user_id,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user
0,3,12,0,16,133.0,12.090909
1,5,4,3,18,40.0,13.333333
2,13,12,6,12,84.0,7.636364
3,25,3,1,14,60.0,30.000000
4,29,18,5,11,196.0,11.529412
...,...,...,...,...,...,...
49995,206189,6,0,15,80.0,16.000000
49996,206191,5,0,9,78.0,19.500000
49997,206195,19,6,9,122.0,6.777778
49998,206202,22,4,0,269.0,12.809524
49999,206205,3,2,12,40.0,20.000000

In [17]:
final_df = sample_order_prior_user_product.merge(sample_order_prior_user, how='left', on='user_id')
final_df

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_dist_prod_reordered,num_total_prod_reordered,num_distinct_prod_user_total,num_prod_user_total,ratio_dist_prod_reordered,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,19.0,55.0,33,88,0.575758,12,0,16,133.0,12.090909
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,19.0,55.0,33,88,0.575758,12,0,16,133.0,12.090909
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,19.0,55.0,33,88,0.575758,12,0,16,133.0,12.090909
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,19.0,55.0,33,88,0.575758,12,0,16,133.0,12.090909
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,19.0,55.0,33,88,0.575758,12,0,16,133.0,12.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,7.0,8.0,24,32,0.291667,3,2,12,40.0,20.000000
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,7.0,8.0,24,32,0.291667,3,2,12,40.0,20.000000
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,7.0,8.0,24,32,0.291667,3,2,12,40.0,20.000000
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,7.0,8.0,24,32,0.291667,3,2,12,40.0,20.000000
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,7.0,8.0,24,32,0.291667,3,2,12,40.0,20.000000

In [18]:
final_df.columns

Index(['user_id', 'product_id', 'days_cumsum', 'num_prod_bought',
       'days_since_last_bought', 'average_days_period',
       'orders_since_last_bought', 'average_orders_period',
       'dow_usually_bought', 'hod_usually_bought', 'department_id', 'aisle_id',
       'times_reordered', 'num_prod_bought_dep', 'num_order_bought_dep',
       'num_prod_bought_ais', 'num_order_bought_ais', 'ratio_prod_bought_dep',
       'ratio_prod_bought_ais', 'ratio_order_bought_dep',
       'ratio_order_bought_ais', 'num_dist_prod_reordered',
       'num_total_prod_reordered', 'num_distinct_prod_user_total',
       'num_prod_user_total', 'ratio_dist_prod_reordered', 'number_user_order',
       'dow_user_usually_bought', 'hod_user_usually_bought',
       'days_cumsum_user', 'average_daydiff_user'],
      dtype='object')

## Ratio of order bought

In [19]:
final_df['ratio_order_bought'] = final_df['num_prod_bought']/final_df['number_user_order']
final_df

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_total_prod_reordered,num_distinct_prod_user_total,num_prod_user_total,ratio_dist_prod_reordered,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,55.0,33,88,0.575758,12,0,16,133.0,12.090909,0.083333
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,55.0,33,88,0.575758,12,0,16,133.0,12.090909,0.083333
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,55.0,33,88,0.575758,12,0,16,133.0,12.090909,0.250000
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,55.0,33,88,0.575758,12,0,16,133.0,12.090909,0.083333
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,55.0,33,88,0.575758,12,0,16,133.0,12.090909,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,8.0,24,32,0.291667,3,2,12,40.0,20.000000,0.666667
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,8.0,24,32,0.291667,3,2,12,40.0,20.000000,0.333333
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,8.0,24,32,0.291667,3,2,12,40.0,20.000000,0.333333
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,8.0,24,32,0.291667,3,2,12,40.0,20.000000,0.333333
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,8.0,24,32,0.291667,3,2,12,40.0,20.000000,0.333333

## Number of products per order

In [20]:
final_df['num_user_prod_per_order'] = final_df['num_prod_user_total']/final_df['number_user_order']
final_df

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_distinct_prod_user_total,num_prod_user_total,ratio_dist_prod_reordered,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,33,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,33,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,33,88,0.575758,12,0,16,133.0,12.090909,0.250000,7.333333
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,33,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,33,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,24,32,0.291667,3,2,12,40.0,20.000000,0.666667,10.666667
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,24,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,24,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,24,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,24,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667

## Ratio of reordered products/basket

In [22]:
final_df['reordered_prod_per_order'] = final_df['num_total_prod_reordered']/final_df['num_prod_user_total']
final_df

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_prod_user_total,ratio_dist_prod_reordered,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,88,0.575758,12,0,16,133.0,12.090909,0.250000,7.333333,0.625
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,32,0.291667,3,2,12,40.0,20.000000,0.666667,10.666667,0.250
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250

# Summarize

In [23]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3231752 entries, 0 to 3231751
Data columns (total 34 columns):
 #   Column                        Dtype
---  ------                        -----
 0   user_id                       int64
 1   product_id                    float64
 2   days_cumsum                   float64
 3   num_prod_bought               int64
 4   days_since_last_bought        float64
 5   average_days_period           float64
 6   orders_since_last_bought      float64
 7   average_orders_period         float64
 8   dow_usually_bought            int64
 9   hod_usually_bought            int64
 10  department_id                 float64
 11  aisle_id                      float64
 12  times_reordered               int64
 13  num_prod_bought_dep           int64
 14  num_order_bought_dep          int64
 15  num_prod_bought_ais           int64
 16  num_order_bought_ais          int64
 17  ratio_prod_bought_dep         float64
 18  ratio_prod_bought_ais         float64
 19  ratio_order_bought_dep        float64
 20  ratio_order_bought_ais        float64
 21  num_dist_prod_reordered       float64
 22  num_total_prod_reordered      float64
 23  num_distinct_prod_user_total  int64
 24  num_prod_user_total           int64
 25  ratio_dist_prod_reordered     float64
 26  number_user_order             int64
 27  dow_user_usually_bought       int64
 28  hod_user_usually_bought       int64
 29  days_cumsum_user              float64
 30  average_daydiff_user          float64
 31  ratio_order_bought            float64
 32  num_user_prod_per_order       float64
 33  reordered_prod_per_order      float64
dtypes: float64(20), int64(14)
memory usage: 863.0 MB

## column name meanings
- times_reordered = number of time this product has been reordered
- num_total_prod_reordered = sum of all products reordered (not distinct)
- ratio_dist_prod_reordered = number of distinct reordered products / number of total distinct products
- ratio_order_bought = number of time this product bought / number of total order
- num_user_prod_per_order = number of total products bought / number of total order = average number of products per order
- reordered_prod_per_order = number of total reordered products bought / number of total products bought = average proportion of reordered items to all items in an order

In [24]:
final_df.describe()

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_prod_user_total,ratio_dist_prod_reordered,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order
count,3.231752e+06,3.231752e+06,3.231752e+06,3.231752e+06,1.296226e+06,1.296226e+06,1.296226e+06,1.296226e+06,3.231752e+06,3.231752e+06,...,3.231752e+06,3.219764e+06,3.231752e+06,3.231752e+06,3.231752e+06,3.231752e+06,3.231752e+06,3.231752e+06,3.231752e+06,3.219764e+06
mean,1.033132e+05,2.551477e+04,1.281673e+02,2.441313e+00,4.398030e+01,4.265896e+01,4.981018e+00,4.823690e+00,2.386788e+00,1.270693e+01,...,3.091358e+02,4.025842e-01,2.524771e+01,2.074259e+00,1.247532e+01,2.117870e+02,1.268014e+01,1.544043e-01,1.273034e+01,5.043299e-01
std,5.969136e+04,1.422405e+04,1.014702e+02,3.549017e+00,4.886631e+01,4.302672e+01,7.221820e+00,6.355283e+00,2.075531e+00,4.224279e+00,...,3.047990e+02,1.492033e-01,2.198435e+01,2.090671e+00,3.853104e+00,1.065040e+02,6.438098e+00,1.649444e-01,6.315647e+00,1.955744e-01
min,3.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,3.000000e+00,1.639344e-02,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.010101e-02,1.000000e+00,1.612903e-02
25%,5.148000e+04,1.329200e+04,4.200000e+01,1.000000e+00,1.300000e+01,1.600000e+01,1.000000e+00,1.500000e+00,1.000000e+00,1.000000e+01,...,9.700000e+01,3.000000e-01,9.000000e+00,0.000000e+00,1.000000e+01,1.170000e+02,7.590909e+00,4.545455e-02,8.250000e+00,3.616071e-01
50%,1.030780e+05,2.562300e+04,1.040000e+02,1.000000e+00,2.800000e+01,2.950000e+01,2.000000e+00,2.750000e+00,2.000000e+00,1.200000e+01,...,2.060000e+02,4.081633e-01,1.800000e+01,1.000000e+00,1.200000e+01,2.170000e+02,1.150000e+01,9.677419e-02,1.154545e+01,5.204678e-01
75%,1.553170e+05,3.815900e+04,2.030000e+02,2.000000e+00,5.600000e+01,5.300000e+01,6.000000e+00,5.500000e+00,4.000000e+00,1.600000e+01,...,4.190000e+02,5.060241e-01,3.500000e+01,4.000000e+00,1.500000e+01,3.130000e+02,1.685714e+01,2.000000e-01,1.600000e+01,6.605351e-01
max,2.062050e+05,4.968800e+04,3.650000e+02,9.900000e+01,3.650000e+02,3.650000e+02,9.800000e+01,9.800000e+01,6.000000e+00,2.300000e+01,...,2.936000e+03,1.000000e+00,9.900000e+01,6.000000e+00,2.300000e+01,3.650000e+02,3.000000e+01,1.000000e+00,7.025000e+01,9.813084e-01

In [25]:
final_df.to_csv("instacart/all_features.csv", index=False)

# Product features

In [32]:
product_features = final_df.groupby(['product_id']).agg(
    mean_days_prod_bought_period = ('average_days_period', 'mean'),
    mean_dow_prod_usually_bought = ('dow_usually_bought', lambda x: x.mode()[0]),
    mean_hod_prod_usually_bought = ('hod_usually_bought', lambda x: x.mode()[0])
)
product_features

,mean_days_prod_bought_period,mean_dow_prod_usually_bought,mean_hod_prod_usually_bought
product_id,,,
1.0,48.940129,1,10
2.0,87.266667,0,11
3.0,20.043679,0,8
4.0,48.205556,0,14
6.0,NaN,6,20
...,...,...,...
49684.0,28.000000,5,8
49685.0,NaN,2,14
49686.0,35.819444,6,9
49687.0,81.000000,1,12
49688.0,104.750000,0,8

In [33]:
product_features.to_csv("instacart/product_features.csv")